#wrapper {

  display: grid;
  grid-template-rows: 12vh 20% 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 90vh;
  width: 100%;
  overflow-y: hidden;
  background-image: url(/img/cloth_pic.avif);
  background: linear-gradient(to bottom, white 30%, cornsilk 90%);
  grid-template-areas:
    'nv nv nv nv nv nv nv'
    'mn mn mn mn mn mn mn'
    'img1 img2 img3 img4 img5 img6 img7'
  ;

}

p, a, h1, li, ul, ol{

  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
  color: rgba(231, 76, 60);
  font-weight: 550;


}

a {
  color: black;
  text-decoration-line: none;
  padding: 12px;
  border-radius: 100px;
  font-weight: 100;
  margin: 15px;

}

h1 {
  font-weight: bold;
  font-size: 45px;
}
.title{
  transform: translateY(100px);
}

#red{
  color: rgb(231, 76, 60);
}

#login {
  font-weight: 550;
  background-color: rgb(241, 241, 241);

}

#signin {

  background-color: rgba(231, 76, 60);
  color: whitesmoke;
  font-weight: 550;

}

body {
  background: linear-gradient(to bottom, rgba(231, 76, 60) 10%, rgb(117, 22, 12) 70%);
  margin: 0;
  

}

header {
  padding: 0px;
  grid-area: hd;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  text-align: center;



}

nav {
  grid-area: nv;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  text-align: right;

}

aside {
  grid-area: as;
  border-radius: 0px 0px 0px 10px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 3;

}

main {
  padding: 10px;
  grid-area: mn;
  border-radius: 10px;
  text-align: center;
  margin: 0px;
  object-position: center;
  border-radius: 15px;

}

main:after {
  content: "";
  position: absolute;
  top: 525px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(255, 255, 255, 1) 100%);
  height: 20%;
  z-index: 1;
}

footer {
  padding: 10px;
  grid-area: ft;

}


ul {

  display: block;
  list-style-type: disc;
  margin-block-start: 27px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style: none;

}


section {

  height: 100vh;
  background-color: cornsilk;
  display: grid;
  grid-template-rows: 40% 35% 25%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    'mn2 mn2 mn2 mn2'
    'mn2 mn2 mn2 mn2'
    'ft2 ft2 ft2 ft2'

  ;

}

#header2 {
  padding: 10px;
  grid-area: hd2;
  background-color: white;
  z-index: 1;


}

#nav2 {
  grid-area: nv2;
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  border-radius: 0px 0px 10px 0px;
  background-color: white;
  z-index: 1;


}

#aside2 {
  grid-area: as2;
  border-radius: 0px 0px 0px 10px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  


}

#main2 {
  padding: 10px;
  grid-area: mn2;
  border-radius: 10px;
  z-index: 1;



}



#footer2 {
  padding: 10px;
  grid-area: ft2;
  border-radius: 10px;
}

#nav2 {

  grid-area: nv2;
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  border-radius: 0px 0px 10px 0px;
  background-color: white;

}





#img1 {
  grid-area: img1;
  transform: translateY(0px);

}

#img2 {
  grid-area: img2;
  transform: translateY(200px);

}

#img3 {
  grid-area: img3;
  transform: translateY(280px);
}

#img4 {
  grid-area: img4;
  transform: translateY(320px);

}

#img5 {
  grid-area: img5;
  transform: translateY(280px);

}

#img6 {
  grid-area: img6;
  transform: translateY(200px);

}

#img7 {
  grid-area: img7;
  transform: translateY(0px);

}

img {

  height: 300px;
  width: 205px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;


}



#katalog_section1 {
  display: grid;
  grid-template-rows: 12vh 25% 15% 15% 15% 30%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 300vh;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 30%, cornsilk 90%);
  grid-template-areas:
    'as as hd hd nv nv nv'
    'mw mw mw mw mw mw mw'
    'rw1 rw1 rw1 rw1 rw1 rw1 rw1'
    'rw2 rw2 rw2 rw2 rw2 rw2 rw2'
    'rw3 rw3 rw3 rw3 rw3 rw3 rw3'
    'ft ft ft ft ft ft ft'
  ;
}

#main_window {

  grid-area: mw;
  background-image: url(/img/wowsopretty.jpg);
  background-position: center;
  background-size: contain;

}

.blank {

  grid-area: bl;
  background-color: cornsilk;

}

#row1 {

  grid-area: rw1;
  background-image: url(/img/94311bb5184bf722f9caa84dfdbde2fc.jpg);
  background-position: center;
  background-size: contain;

}

#row2 {

  grid-area: rw2;
  background-image: url(/img/nedladdning.jpg);
  background-position: center;
  background-size: contain;

}

#row3 {

  grid-area: rw3;
  background-image: url(/img/pinterest-autumn-outfits-282712-1569356045601-promo.700x0c.jpg);
  background-position: center;
  background-size: contain;

}